.gradient-custom {
/* fallback for old browsers */
background: #ffffff;

/* Chrome 10-25, Safari 5.1-6 */
background: #ffffff;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #ffffff;
}


    .card {
        background-color: #4a4ced; /* Ganti dengan warna yang Anda inginkan */
        color: #ffffff; /* Warna teks */
    }

    a:hover span {
    color: #888; /* Ubah warna teks saat dihover */
}
